body {
  background-color: #323437;
}

.main-container {
  width: 1250px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
}
